@import url('base.css');

/* font */
* {
    font-family: 'Righteous', sans-serif;
    font-weight: 300;
}

h1{
    font-size: 35px;
}
h2 {
    font-size: 50px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
}

i {
    transition: all .25s ease-in-out;
}
i:hover {
    color: rgb(241, 189, 76);
    cursor: pointer;;
}

button {
    width: 180px;
    background-color: rgb(241, 189, 76);
    padding: 13px;
    border-radius: 18px;
    font-size: 18px;
    font-weight: 500;
    transition: all .25s ease-in-out;
}
button:hover {
    cursor: pointer;
    background-color: rgb(155, 113, 23);
    color: #f2f2f3;
}

a {
    text-decoration: none;
    color: #f2f2f3;
}



header {
    width: 100%;
    padding: 25px;
    background-color: rgba(94, 94, 94, 0.4);
    color: #f2f2f3;
    position: fixed;
    backdrop-filter: blur(50px);
}

header *{
    animation: fadeIn 1s ease-in-out;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .container ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header .container ul li + li{
    margin-left: 21px;
}
header .container ul li a i {
    font-size: 34px;
    color: #f2f2f3;
}
header .container ul li a i:hover {
    color: rgb(241, 189, 76);
}
.fa-bars {
    display: none;
}
#title {
    transition: all .25s ease-in-out;
}
#title:hover {
    color: rgb(241, 189, 76);   
    cursor: pointer;
}


.landin {
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../img/benjamin-lehman-GNyjCePVRs8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.two {
    background-image: url('../img/tyler-lastovich-e31ANd1PXUw-unsplash.jpg');
}
.two .shade {
    text-align: left;
    justify-content: center;
    align-items: flex-start;

    background-color: rgba(65, 65, 65, 0.7);
}
.two .shade p {
    margin-top: 10px;
}

.shade{
    width: 100%;
    height: 100%;

    background-color: rgba(94, 94, 94, 0.4);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #f2f2f3;
}


.shade h3, button {
    margin-top: 10px;
}
.shade i {
    font-size: 40px;
    /* margin: auto; */
    bottom: 20px;
    position: absolute;

    animation: hover 1.25s infinite;
}

.content {
    margin-top: 40px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hover {
    0% {
        bottom: 20px;
    }
    50% {
        bottom: 40px;
    }
    100% {
        bottom: 20px;
    }
}



@media only screen and (max-width:600px) {
    header .container h1 {
        font-size: 28px;
    }
    .fa-bars {
        display: block;
        font-size: 30px;
    }
}





.revealUp {
    opacity: 0;
    visibility: hidden;
}